---
title: Philipp Schardt Vita | UX Software Engineer
layout: layouts/post-overview.njk
templateClass: tmpl-vita
eleventyNavigation:
  key: vita
  order: 2
---
<article>
    <section class="experience">
    <h2>Experience</h2>
        <ul>
            {% for item in work_experience | reverse %}
                <li>
                    <div class="date">
                        <time datetime="{{ item.start | date('Y-MM-DD') }}">{{ item.start | date("MMM Y", locale) }}</time>
                        {% if item.end%}
                            <span class="date-separator"> - </span>
                            <time datetime="{{ item.end | date('Y-MM-DD') }}">{{ item.end | date("MMM Y", locale) }}</time>
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="title">
                            {{item.title}}
                        </div>
                        <div class="employer">
                            {{item.employer}} - {{item.location}}
                        </div>
                        {% if item.description %}
                            <div class="description">
                                {{item.description | safe }}
                            </div>
                        {% endif %}
                        {% if item.advisor %}
                                <div class="advisor">
                                <span>Advisor:</span>
                                <span>{{item.advisor}}</span>
                                </div>
                            {% endif %}
                    </div>
                </li>
                {% endfor%}
            </ul>
        </section>
        <section class="education">
            <h2>Education</h2>
            <ul>
                {% for item in education | reverse %}
                    <li>
                        <div class="date">
                            <time datetime="{{ item.start | date('Y-MM-DD') }}">{{ item.start | date("MMM Y", locale) }}</time>
                            {% if item.end%}
                                <span class="date-separator"> - </span>
                                <time datetime="{{ item.end | date('Y-MM-DD') }}">{{ item.end | date("MMM Y", locale) }}</time>
                            {% endif %}
                        </div>
                        <div class="content">
                            <div class="title">
                                {{item.title}}
                            </div>
                            <div class="employer">
                                {{item.location}}
                            </div>
                            {% if item.description %}
                                <div class="description">
                                    {{item.description | safe }}
                                </div>
                            {% endif %}
                            {% if item.thesis %}
                                <div class="description">
                                    Thesis: <a href="{{ '/en' + item.thesislink | url }}">{{item.thesis}}</a>
                                </div>
                            {% endif %}
                            {% if item.supervisor %}
                                <div class="supervisor">
                                    <span>Supervisor:</span>
                                    {% for s in item.supervisor%}
                                        <span>{{s}}</span>{% if not loop.last %},{% endif%}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if item.advisor %}
                                <div class="advisor">
                                <span>Advisor:</span>
                                <span>{{item.advisor}}</span>
                                </div>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor%}
                </ul>
            </section>
            <section class="honorary">
                <h2>Honorary</h2>
                <ul>
                    {% for item in honorary | reverse %}
                        <li>
                            <div class="date">
                                <time datetime="{{ item.start | date('Y-MM-DD') }}">{{ item.start | date("MMM Y", locale) }}</time>
                                {% if item.end%}
                                    <span class="date-separator"> - </span>
                                    <time datetime="{{ item.end | date('Y-MM-DD') }}">{{ item.end | date("MMM Y", locale) }}</time>
                                {% endif %}
                            </div>
                            <div class="content">
                                <div class="title">
                                    {{item.title}}
                                </div>
                                <div class="employer">
                                    {{item.location}}
                                </div>
                                {% if item.description %}
                                    <div class="description">
                                        {{item.description}}
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor%}
                    </ul>
                </section>
            </article>