---
layout: layouts/post-overview.njk
eleventyNavigation:
  key: projects
  order: 3
---

<h2>Projects</h2>

{% for post in collections.project | reverse | localization(locale) %}
    {% if loop.first %}
        <ul class="post-list">
        {% endif %}
        <li>
            <article>
                <h3>
                    <p class="post-date">
                        <time datetime="{{ date | date('Y-MM-DD') }}">{{ post.date | date("DD MMMM[,] Y", locale) }}</time>
                    </p>
                    <a href="{{ post.url }}"><span>{{ post.data.title }}</span></a>
                    {% if post.data.teaser %}<p class="post-teaser">{{post.data.teaser}}</p>{% endif %}
                    
                </h3>
            </article>

        </li>

        {% if loop.last %}
        </ul>
    {% endif %}
{% endfor %}