header {
  padding: var(--ps-spacing-xs) var(--ps-spacing-m) var(--ps-spacing-s)
    var(--ps-spacing-m);

  h1 {
    font-family: "Lab 2";
  }
  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      gap: var(--ps-spacing-s);
    }

    li {
      font-size: var(--font-size-xl);

      .link::before {
        content: '_';
      }

      &.active {
        a {
          background: var(--ps-color-red);
          padding-bottom: 0.25rem;
        }
      }
    }
  }
}
