@use './fonts/fonts';

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-style: 16px;
  font-family: "IBM Plex Mono", "Open Sans", "Helvetica Neue", "Helvetica",
    "Arial", "sans-serif";
}

::selection,
::-moz-selection {
  background: var(--ps-color-red);
  color: var(--ps--color-primary-invert);
}

header,
footer {
  background: url(/styles/assets/bg.jpg) repeat scroll 0% 0% transparent;
  flex: 0 1 auto;
  color: white;
  padding: var(--ps-spacing-m);
}

footer {
  text-align: center;
}

main {
  flex: 1 1 auto;
  background: var(--ps--color--primary-bg);
  color: var(--ps-color-primary);
  padding: var(--ps-spacing-s) var(--ps-spacing-m);

  p {
    text-align: justify;
  }
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--ps--color-primary-invert, white);
  transition: color 0.2s linear;
  transition: background 0.1s linear;

  &:hover {
    background: var(--ps-color-red);
  }
  &:active {
      background: yellow;
  }
}
