@use './fonts/fonts';

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  font-style: 16px;
  font-family: "IBM Plex Mono", "Open Sans", "Helvetica Neue", "Helvetica",
    "Arial", "sans-serif";
}

html {
  height: 100%;
}

::selection,
::-moz-selection {
  background: var(--ps-color-red);
  color: var(--ps--color-primary-invert);
}

header,
footer {
  background: url(/styles/assets/bg.jpg) repeat scroll 0% 0% transparent;
  color: white;
  flex: 0 0 auto;
}

main {
  flex: 1 1 auto;
  background: var(--ps--color--primary-bg);
  color: var(--ps-color-primary);
  padding: var(--ps-spacing-s) var(--ps-spacing-m);

  p {
    text-align: justify;
  }

  a {
    color: var(--ps--color-primary, black);
    text-decoration: underline;
    transition: color 0.2s linear;
    transition: background 0.1s linear;

    &:hover {
      color: var(--ps--color-primary-invert, white);
    }
  }

  iframe {
    width: 100%;
    min-height: 400px;
  }

  figure {
    width: 100%;
    margin: 0;

    img {
      width: 100%;
    }

    figcaption {
      text-align: center;
    }
  }
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--ps--color-primary-invert, white);
  transition: color 0.2s linear;
  transition: background 0.1s linear;

  &:hover {
    background: var(--ps-color-red);
  }
  &:active {
    background: darkgoldenrod;
  }
}

.icon {
  display: inline-block;
  position: relative;
  width: var(--social-icon);
  height: var(--social-icon);
  background: var(--ps--color-primary-invert);
  mask: var(--mask) var(--social-icon);
  -webkit-mask: var(--mask) var(--social-icon);
}
.icon:empty {
  opacity: 0;
}
.icon a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.avatar {
  border-radius: 50%;
  width: 8rem;
  float: left;
  margin-right: 1rem;
  margin-bottom: 0.2rem;
}

ul.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
p.post-teaser {
  margin: 0.1rem 0;
  font-size: 0.8rem;
}
p.post-date {
  margin: 0.1rem 0;
  font-size: 0.8rem;
  color: var(--ps--color-secondary);
}

.figure-container {
  display: flex;
}

.tmpl-post {
  .subnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--ps-spacing-s);
  }
  .prev,
  .next {
    max-width: 48%;
  }
  .next {
    text-align: right;
  }
}

.tmpl-post {
  h1 {
    margin-top: 0;
  }

  .post-appear,
  .post-authors {
    font-size: 0.8rem;
    color: var(--ps--color-secondary);
  }

  .post-technologies {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -1.1rem;
    margin-bottom: 1rem;

    li {
      border: 1px solid black;
      display: inline-block;
      padding: 0.1rem 0.2rem;
      font-size: 0.6rem;
    }
  }
}
