---
layout: layouts/base.njk
templateClass: tmpl-home
---

{% include "partials/header.njk" %}

<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      <section class="content">
            {{ content | safe }}
      </section>
</main>

{% include "partials/simple-footer.njk" %}