---
layout: layouts/base.njk
templateClass: tmpl-home
---

{% include "partials/header.njk" %}

<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      <div class="content">
            {{ content | safe }}
      </div>
</main>

{% include "partials/simple-footer.njk" %}