---
layout: layouts/post-overview.njk
templateClass: tmpl-post
---

<h1>{{ title }}</h1>

<div class="content">
    {{ content | safe }}
</div>

{# <p>
    <time datetime="{{ post.date | date('YYYY-MM-DD') }}">{{ post.item|date("DD MMMM YYYY", locale) }}</time>
</p> #}