---
layout: layouts/post-overview.njk
templateClass: tmpl-post
---

{% set previousPost = collections.project | localization(locale) | getPreviousCollectionItem(page) %}
{% set nextPost = collections.project | localization(locale) | getNextCollectionItem(page) %}

<p class="post-date">
    <time datetime="{{ date | date('Y-MM-DD') }}">{{ date | date("DD MMMM[,] Y", locale) }}</time>
    {%if type%}<span> - </<span><span>{{type}}</span>{%endif%}
</p>
<h1>{{ title }}</h1>
{% if technologies %}
    <ul class="post-technologies">
        {%for t in technologies%}
            <li>{{t}}</li>
            {% endfor%}
        </ul>
    {% endif %}
{% if authors %}
<p class="post-authors">{{authors}}</p>
{% endif %}
{% if appear %}
<p class="post-appear">In: {{appear}}</p>
{% endif %}
    <article>

        {{ content | safe }}

    </article>

    <div class="post-info">
    {% if team %}
            <div class="post-info__team">
            <p>Team</p>
            <ul>
            {% for member in team %}
                <li>
                    {% if member | is_string %}
                        <span>{{member}}</span>
                    {% else %}
                        <a href="{{member.url}}">{{member.name}}</a>{% endif%}
                    </li>
                    {% endfor%}
                </ul>
            </div>
        {% endif%}
    </div>



    <div class="subnav">
        <div class="prev">
            {%if previousPost%}
                <a href="{{previousPost.url}}">← {{previousPost.data.title}}</a>
            {% endif %}
        </div>

        <div class="next">
            {%if nextPost%}
                <a href="{{nextPost.url}}">{{nextPost.data.title}} →</a>
            {% endif %}
        </div>
    </div>