---
layout: layouts/base.njk
templateClass: tmpl-overview
---

{% include "partials/header.njk" %}

<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      <div class="content">
            {{ content | safe }}
      </div>
</main>

{% include "partials/footer.njk" %}