@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Mono"), local("IBMPlexMono"),
    url("/styles/fonts/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-Regular.woff2")
      format("woff2"),
    url("/styles/fonts/IBM-Plex-Mono/fonts/complete/woffIBMPlexMono-Regular.woff")
      format("woff");
}
