---
title: Philipp Schardt | UX Software Engineer | Technology Expert Web
layout: layouts/home.njk
eleventyNavigation:
  key: about
  order: 1
---

<h2>Hi, ich bin Philipp!</h2>

<img class="avatar" width="128px" height="128px" src="{{ metadata.author.avatar | url}}" alt="philipp" clear="left">

<p>Ich bin Entwickler und lebe und arbeite in Saarbrücken.</p>

<p>Diese Webseite ist eine Übersicht über meine Arbeit als Entwickler, Student und Hilfswissenschaftler, 
aber auch um interessante Experimente vorzustellen.</p>

<p>Meine Interessen und Forschungsschwerpunkte liegen im Bereich der Human Computer Interaction (HCI), der Künstlichen Intelligenz (AI) und dem Ubiquitous Computing. 
Dabei möchte ich vor allen Dingen neue Technologien verstehen und entwickeln, um die Usability zu 
verbessern und damit die Benutzer im Umgang mit neuartigen Benutzerschnittstellen zu unterstützen. 
</p>

<p>Seit 2017 arbeite ich als UX Software Engineer bei <a href="https://ergosign.de" target="_blank" rel="noopener">Ergosign</a>. 
Zudem darf ich seit 2019 als Technology Expert Web für Ergosign arbeiten. In dieser Rolle erforsche und teste ich
 neue Möglichkeiten der Web Plattform, um herauszufinden, wie diese die User Experience verbessern können.</p>

<p>Im Jahr 2014 habe ich meinen Bachelorarbschluss in Medieninformatik an der 
<ahref="https://www.uni-saarland.de/" target="_blank" rel="noopener" >Universität des Saarland</a> mit der Thesis 
'Sensor basierte Erkennung der Handhaltung zur Entwicklung dynamisch adaptiver Benutzerschnittstellen für Smartphones' abgeschlossen.
Den konsekutiven Masterstudiengang habe ich 2017 mit der Thesis 'Towards an Ambient Assistive System Using Wrist-Worn Human Activity Recognition' absolviert.</p>

<p>Während meiner Studienzeit, durfte ich seit 2012 weitere Erfahrungen als Hilfswissenschaftler am 
<a href="https://umtl.cs.uni-saarland.de/" target="_blank" rel="noopener">Ubiquitous Media Technology Lab of the German Research Center for Artificial Intelligence (DFKI)</a> in Saarbrücken sammeln.</p>