---
layout: layouts/home.njk
eleventyNavigation:
  key: about
  order: 1
---

<p>Hi, Ich bin Philipp! Ich bin ein Entwickler und lebe und arbeite in Saarbrücken.</p>

<p>Diese Webseite ist eine Übersicht über meine Arbeit als Entwickler, Student und Hilfswissenschaftler, aber auch um interessante Experimente vorzustellen.</p>

My interests and research focuses mainly on human computer interaction and ubiquitous computing. 
In particular I'm interesting in understanding and developing new technologies to enhance the usability and support people by using it. 

Since 2017 I've been working as a UX Software Engineer at Ergosign. 
I'm also pleased that I've been working for Ergosign as Technology Expert Web since 2019. 
In this role I explore and test how new capabilites of the web can enhance the user experience. 

In 2014 I obtained a Bachelor of Science in Media Informatics with a thesis about 'Sensor-based hand posture recognition to develop dynamic adaptive user interfaces on smartphones'.
Since 2017 I'm Master of Science in Media Informatics. I finished with a thesis about 'tba'.

During my graduation, I was working as a research assistant (since 2012) in the Ubiquitous Media Technology Lab of the German Research Center for Artificial Intelligence (DFKI) in Saarbrücken.


