---
layout: layouts/home.njk
eleventyNavigation:
  key: about
  order: 1
---

<h2>Hi, I'm Philipp!</h2>

<p>I'm a developer living and working in Saarbrücken, Germany.</p>

<p>This website mainly provides an overview of the work I've done while I've been a developer, student and research assistant.
But it's also a place where I describe my experiments.</p>

<p>My interests and research focuses mainly on human computer interaction and ubiquitous computing. 
In particular I'm interesting in understanding and developing new technologies to enhance the usability and support people by using it. </p>

<p>Since 2017 I've been working as a UX Software Engineer at Ergosign. 
I'm also pleased that I've been working for Ergosign as Technology Expert Web since 2019. 
In this role I explore and test how new capabilites of the web can enhance the user experience.</p>

<p>In 2014 I obtained a Bachelor of Science in Media Informatics with a thesis about 'Sensor-based hand posture recognition to develop dynamic adaptive user interfaces on smartphones'.
Since 2017 I'm Master of Science in Media Informatics. I finished with a thesis about 'tba'.</p>

<p>During my graduation, I was working as a research assistant (since 2012) in the Ubiquitous Media Technology Lab of the German Research Center for Artificial Intelligence (DFKI) in Saarbrücken.</p>

