---
layout: layouts/home.njk
eleventyNavigation:
  key: about
  order: 1
---

<h2>Hi, I'm Philipp!</h2>

<img class="avatar" width="128px" height="128px" src="{{ metadata.author.avatar | url}}" alt="philipp" clear="left">

<p>I'm a developer living and working in Saarbrücken, Germany.</p>

<p>This website mainly provides an overview of the work I've done while I've been a developer, 
student and research assistant. But it's also a place where I describe my experiments.</p>

<p>My interest and research focus mainly on human computer interaction (HCI) and ubiquitous computing. 
In particular I'm interested in understanding and developing new technologies to enhance the 
usability and support people by using it. </p>

<p>Since 2017 I've been working as a UX Software Engineer at <a href="https://ergosign.de" target="_blank">Ergosign</a>. 
I'm also pleased that I've been working for Ergosign as Technology Expert Web since 2019. 
In this role I explore and test how new capabilites of the web can enhance the user experience.</p>

<p>In 2014 I obtained a Bachelor of Science in Media Informatics at <ahref="https://www.uni-saarland.de/" target="_blank" >Saarland University</a> with my thesis about 'Sensor-based hand posture recognition to develop dynamic adaptive user interfaces on smartphones'.
Since 2017 I'm Master of Science in Media Informatics. I finished with a thesis about 'Towards an Ambient Assistive System Using Wrist-Worn Human Activity Recognition'.</p>

<p>During my graduation, I was working as a research assistant (since 2012) in the <a href="https://umtl.cs.uni-saarland.de/" target="_blank">Ubiquitous Media Technology Lab of the German Research Center for Artificial Intelligence (DFKI)</a> in Saarbrücken.</p>

