<div class="footer__bio">
    <div class="footer__bio__avatar">
        <img src="{{ metadata.author.avatar | url}}" alt="philipp">
    </div>
    <div class="footer__bio__info">
        <span>{{metadata.author.name}}</span>
        <span>{{metadata.author.title}}</span>
    </div>
</div>