<div class="footer__nav">
        <a href="{{ page.url | switchLanguageUrl(locale) }}"> {{ translations[locale].languageSwitch }}</a> 
        |
        <a href="{{'/' + locale + '/imprint' | url}}">{{ translations[locale].imprint }}</a> 
 
   
</div>