<footer>
    <div class="footer__bio">
        <div class="img-container"></div>
        <div>Philipp Schardt</div>
    </div>
    <div class="footer__links">
        Mail | Github | Twitter | Xing | RSS
    </div>
    <div class="footer__nav">
        <a></div>

    </footer>